{% extends 'index/layout.html' %}

{% block body %}
    <table class="table text">
        <thead>
        <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>Club Email</td>
                <td>westdalecs2022@gmail.com</td>
            </tr>
            <tr>
                <td>Frank</td>
                <td>fshen8544@hwdsb.on.ca</td>
            </tr>
            <tr>
                <td>Elyn</td>
                <td>yhuang9185@hwdsb.on.ca</td>
            </tr>
            <tr>
                <td>Calvin</td>
                <td>ckhark75@gmail.com</td>
            </tr>
            <tr>
                <td>Raina</td>
                <td>rhowlade4575@hwdsb.on.ca</td>
            </tr>
            <tr>
                <td>Mr. Brunetti</td>
                <td>DBURNETTI@hwdsb.on.ca</td>
            </tr>
        </tbody>
    </table>
{% endblock %}