{% extends 'diet/layout.html' %}
{% load static %}

{% block body %}
    <div id="carousel-view" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carousel-view" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carousel-view" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carousel-view" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carousel-view" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
                <img src="{% static 'diet/grain-1.jpg' %}" class="d-block w-100 h-90" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Grain</h4>
                    <p>“Popcorn, chocolate, coffee, ice cream, and pizza. The five food groups. Health nuts are going to feel stupid one day, dying of nothing.” 
                        <br>- Kelly Moran</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{% static 'diet/vegies.jpg' %}" class="d-block w-100 h-90" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Vegetables</h4>
                    <p>                     
                        "You eat cheese enchiladas and aluminum cans. Those are vegetables.” 
                        <br>- Rick Riordan, The Lightning Thief
                    </p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{% static 'diet/fruit-fade-3.jpg' %}" class="d-block w-100 h-90" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Fruit</h4>
                    <p>“Live in each season as it passes; breathe the air, drink the drink, taste the fruit, and resign yourself to the influence of the earth.”
                        <br>― Henry David Thoreau, Walden</p>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="8000">
                <img src="{% static 'diet/protein.jpg' %}" class="d-block w-100 h-90" alt="">
                <div class="carousel-caption d-none d-md-block">
                    <h4>Protein</h4>
                    <p>"I keep my diet low in carbohydrates and high in protein" -Sullyvan Stapleton</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-view" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Prev</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-view" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
{% endblock %}