{% extends 'diet/layout.html' %}
{% load static %}

{% block body %}
    <div class="form-view">
        <h4 id="intake-title">What did I eat today?</h4>
        <div class="alert alert-secondary" role="alert">Ratio calculation will exclude liquid type of food.</div>
        <div id="intake-form" data-type="{{ type }}">
            <div class="row">
                <div class="col">
                    <select class="form-select" name="food-name" required>
                        <option selected value="default">Choose a food name</option>
                        {% for name in food_name_list %}
                            <option value="{{ name }}">{{ name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col input-group" required>
                    <input type="number" class="form-control">
                    <span class="input-group-text">g</span>
                </div>
                <div class="btn-group col">
                    <button type="button" class="add-row btn btn-light">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                        </svg>
                    </button>
                    <button type="button" class="delete-row btn btn-light disabled">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button class="btn" type="button" id="verify-form">Verify Data</button>
                </div>
                <div class="col-2">
                    <button id="submit-form" type="button" class="btn btn-primary disabled">Check Ratio</button>
                </div>
            </div>
        </div>
    </div>
    <div id="result-view">
        <div id="graph-view">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Food</th>
                        <th scope="col">Name</th>
                        <th scope="col">Group</th>
                        <th scope="col">Subgroup</th>
                        <th scope="col">Amount(g)</th>
                    </tr>
                </thead>
                <tbody id="table-body"></tbody>
            </table>
            <div id="record-group">
                <form action="{% url 'profile' %}" method="POST">
                    {% csrf_token %}
                    <input hidden="True" id="vf" name="vf">
                    <input hidden="True" id="other" name="other">
                    <input hidden="True" id="liquid" name="liquid">
                    <input hidden="True" id="grain" name="grain">
                    <input hidden="True" id="protein" name="protein">
                    <button type="submit" class="btn btn-secondary" id="record-data">Record Data</button>
                </form>
                <label for="record-data" class="text-muted form-label">Keep this data in the profile to compare with other ones.</label>
            </div>
        </div>
        <div class="row pie-chart-view">
            <div class="col">
                <canvas id="sampleIntakeChart"></canvas>
            </div>
            <div class="col">
                <canvas id="intakeChart"></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'diet/intake.js' %}"></script>
{% endblock %}