{% extends 'diet/layout.html' %}
{% load static %}

{% block body %}
    <div id="verify-view">
        <div class="mb-3">
            <input placeholder="Email" id="email" type="email" class="form-control" autofocus required>
        </div>
        <div class="mb-3">
            <input placeholder="Username" id="username" type="text" class="form-control" autofocus required>
        </div>
        <button type="button" id="verify" class="btn btn-outline-secondary">Verify</button>
    </div>
    <div id="password-view">
        <div class="mb-3">
            <input placeholder="New Password" id="password" type="password" class="form-control" autofocus required>
        </div>
        <div class="mb-3">
            <input placeholder="Confirm Password" id="confirmation" type="password" class="form-control" autofocus required>
        </div>
        <button type="button" id="confirm" class="btn btn-outline-secondary">Confirm</button>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'diet/password.js' %}"></script>
{% endblock %}