{% extends 'diet/layout.html' %}
{% load static %}

{% block body %}
    {% if page_obj %}
        <form action="/diet/profile/search?page=1" method="get">
            {% csrf_token %}
            <div class="input-group mb-3">
                <button id="searchButton" type="submit" class="btn btn-outline-secondary disabled">Search</span>
                <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <div class="input-group-addon">
                    <select class="dropdown-menu" name="type">
                        <option class="dropdown-item" value="date" id="searchDate">By Date</option>
                        <option class="dropdown-item" id="searchMonth" value="month">By Month</option>
                        <option selected class="dropdown-item" id="searchYear" value="year">By Year</option>
                    </select>
                </div>
                <input id="searchInput" name="searchInput" placeholder="Digit input" type="number" class="form-control" aria-label="Text input with segmented dropdown button">
            </div>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Index</th>
                    <th scope="col">Time</th>
                    <th scope="col">Vegies & Fruits</th>
                    <th scope="col">Protein</th>
                    <th scope="col">Grain</th>
                    <th scope="col">Liquid</th>
                    <th scope="col">Others</th>
                    <th scope="col" hidden="True" class="pk">PK</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for record in page_obj %}
                    <tr>
                        <th scope="row">{{ record.index }}</th>
                        <td>{{ record.time }}</td>
                        <td>{{ record.vf_amt }}</td>
                        <td>{{ record.protein_amt }}</td>
                        <td>{{ record.grain_amt }}</td>
                        <td>{{ record.liquid_amt }}</td>
                        <td>{{ record.other_amt }}</td>
                        <td hidden="True">{{ record.id }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation" class="d-flex">
            <ul class="pagination">
                {% if has_previous %}
                    <li class="page-item">
                        {% if type %}
                            <a class="page-link" href="?page={{ previous_page_number }}&type={{ type }}&searchInput={{ searchInput }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="?page={{ previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        {% endif %}
                    </li>
                {% endif %}

                <li class="page-item disabled" aria-current="page"><a class="page-link" href="#">{{ number }}</a></li>

                {% if has_next %}
                    <li class="page-item">
                        {% if type %}
                            <a class="page-link" href="?page={{ next_page_number }}&type={{ type }}&searchInput={{ searchInput }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% else %}
                            <a class="page-link" href="?page={{ next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        {% endif %}
                    </li>
                {% endif %}
            </ul>
        </nav>
        <button id="chartBtn" type="button" class="btn btn-outline-secondary d-flex">Compare Data</button>
        <canvas id="intake-chart"></canvas>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}

{% block script %}
        <script src="{% static 'diet/profile.js' %}"></script>
{% endblock %}