textarea {
    min-height: 400px;
}

.header {
    border-top: thin solid darkslategray;
    border-bottom: thin solid darkslategray;
}

.col-1 {
    font-weight: bold;
}

#read-archive {
    display: block;
}