.body {
    margin: 10px;
}

button {
    margin-top: 10px;
}

.view {
    padding: 10px;
}

.card {
    border-radius: 10px;
    margin: 10px;
}

.card-subtitle {
    color: bisque;
}

.row {
    border-radius: 5px;
    padding: 2px;
    margin: 5px;
    position: relative;
    font-size: medium;
}

#profile-view {
    font-size: medium;
}

.btn-unfollow {
    background-color: white;
    border-radius: 5px;
    left: 80%;
    padding: 5px;
    color: black;
}

.col-11 {
    font-size: large;
    font-weight: bold;
}

textarea {
    width: 100%;
}