{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block table_head %}
    <th>Symbol</th>
    <th>Price</th>
    <th>Shares</th>
    <th>Purchase/Sale</th>
    <th>Time</th>
{% endblock %}

{% block table_body %}
    {% for i in transactions %}
        <tr>
            <td>{{ i["symbol"] }}</td>
            <td>{{ i["price"] }}</td>
            <td>{{ i["shares"] }}</td>
            {% if i["price"] < 0 %}
                <td>purchase</td>
            {% else %}
                <td>sale</td>
            {% endif %}
            <td>{{ i["Timestamp"] }}</td>
        </tr>
    {% endfor %}
{% endblock %}